rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /app_status.json {
      allow read;
    }

    match /positives.json.gz {
      allow read: if request.auth != null
    }

    match /{organizationCode}/positives.json.gz {
      allow read: if request.auth != null
                  && request.auth.token.organizationCode == organizationCode
    }
  }
}
